<html>
    <body>
        <%- include('partials/header.ejs') %>
        <ul>
            
            <% for(let i=0; i < userResults.length ; i++){%>
                <li>
                    

                    <!--sin el queryString-->
                    <a href="/users/detail/<%= userResults[i].id %>"><%= userResults[i].name %></a>
                    
                </li>                                  
            <% } %>
        </ul>
        <h2>Search</h2>
        <form action="/users/search" method="GET">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
    </body>
</html>