<html>
    <body>
        <%- include('partials/header.ejs') %>
        <ul>
            
            <% for(let i=0; i < users.length ; i++){%>
                <li>
                    <%= users[i] %>
                </li>
            <% } %>
        </ul>
    </body>
</html>